.AccordionComponent {

  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);

	&-header {
  	overflow: hidden;
		background-color: $bg-color;

    @extend .u-noSelect;

		&:hover {
      transition: all .25s;
			background-color: darken($bg-color,10%);
		}

		color: $base-color;
		cursor: pointer;
		padding: 1em;
		text-transform: uppercase;

    display: flex;
    justify-content: space-between;

		&::after {
      transform: rotate(90deg);
      content: "\276F";
      width: 1em;
      height: 1em;
      line-height: 1em;
      text-align: center;
      transition: all .25s;
		}

		&.is-active {
			&::after {
      	transform: rotate(270deg);
			}
		}

		box-sizing: border-box;
		border-bottom: solid 1px $bg-color-light;

		&:last-of-type {
			border-bottom: none;
		}
	}

	&-panel {
  	overflow: hidden;
		padding: 1em;
    transition: all .25s;
		display: block;
  	height: auto;
		&.is-hidden {
			opacity: 0;
			height: 0;
			padding-top: 0;
			padding-bottom: 0;
		}

	  p {
	    margin-bottom: 1em;
	  }
	}


  @include media("<tablet") {
  	margin: auto 0.5em auto 0.5em;
  }

}