.ButtonElement {

	cursor: pointer;
	border: none;
	background-color: $bg-color;
	font-size: inherit;

	&:hover {
    transition: all .25s;
		background-color: darken($bg-color,10%);
	}

	color: $base-color;
	cursor: pointer;
	padding: 1em;
	text-transform: uppercase;

	@extend .u-noFocusOutline;

}