@import 'reset.scss';
@import 'vars.scss';
@import 'lib.scss';
@import 'fonts.scss';
@import 'utils.scss';
@import 'components.scss';

* {
  font-family: 'Roboto';
}

header {
  grid-column: 1 / -1;
  margin-bottom: 0;
}

main {
  grid-column: 1 / -1;
}

footer {
  grid-column: 1 / -1;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5em;
}

.Wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;

  @include media(">tablet") {
    & > *:not(header):not(footer) {
      grid-column: 2 / -2;
    }
  }
}

.AjaxElement > img {
  width: 75px;
  display: block;
  margin: auto;
}
