$base-color: #f3e5ab;

$secondary-color: #f3c1ab;
$border-dark-secondary: rgba($secondary-color, 0.9);

$tertiary-color: #ddf3ab;
$border-dark-tertiary: rgba($tertiary-color, 0.9);

$bg-color: #565656;

$border-dark: rgba($bg-color, 0.9);

$base-gray: #dddddd;