$base-gray: #dddddd;

$base-color: #f3e5ab;
$border-dark-base: darken($base-color, 10%);

$secondary-color: #f3c1ab;
$border-dark-secondary: darken($secondary-color, 10%);

$tertiary-color: #ddf3ab;
$border-dark-tertiary: darken($tertiary-color, 10%);

$bg-color: #565656;
$bg-color-dark: darken($bg-color, 90%);
$bg-color-light: lighten($bg-color, 10%);
